@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap');
@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@400;500;600&display=swap");

*{
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    box-sizing: border-box;
}

.housing_title {
    padding: 2vw;
    text-align: center;
}

.housing_title h1 {
    font-family: "Open Sans";
}

.header {
    width: 100%;
    height: 80px;
    display: block;
    background-color: black;
}

.inner_header {
    width: 1000px;
    height: 100%;
    display: block;
    margin: 0 auto;
    background-color: black;
}

.logo_container {
    height: 100%;
    display: table;
    float: left;
    background-color: black;
}

.logo_container a {
    color: white;
    height: 100%;
    display: table-cell;
    vertical-align: middle;
    font-family: "Open Sans";
    font-size: 32px;
    font-weight: 200;
    background-color: black;
}

.logo_container a span {
    font-weight: 800;
    background-color: black;
}

.navigation {
    float: right;
    height: 100%;
    background-color: black;
}


.navigation a{
    height: 100%;
    display: table;
    float: left;
    padding: 0px 20px;
    background-color: black;
}

.navigation a:last-child {
    padding-right: 0;
}

.navigation a li {
    display: table-cell;
    vertical-align: middle;
    height: 100%;
    color: white;
    font-family: "Open Sans";
    background-color: black;
}
  
  
.modal-wrp{
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(0,0,0,.3);
}

.slideshow-container {
max-width: 640px;
position: relative;
margin: auto;
}

/* Make the images invisible by default */
.Containers {
display: none;
}

/* forward & Back buttons */
.Back, .forward {
cursor: pointer;
position: absolute;
top: 48%;
width: auto;
margin-top: -23px;
padding: 17px;
color: grey;
font-weight: bold;
font-size: 19px;
transition: 0.4s ease;
border-radius: 0 5px 5px 0;
user-select: none;
}

/* Place the "forward button" to the right */
.forward {
right: 0;
border-radius: 4px 0 0 4px;
}

/*when the user hovers,add a black background with some little opacity */
.Back:hover, .forward:hover {
background-color: rgba(0,0,0,0.8);
}


/* Worknumbering (1/3 etc) */
.MessageInfo {
color: #f2f2f3;
font-size: 14px;
padding: 10px 14px;
position: absolute;
top: 0;
}

/* The circles or bullets and indicators */
.dots {
cursor: pointer;
height: 16px;
width: 16px;
margin: 0 3px;
background-color: #acc;
border-radius: 50%;
display: inline-block;
transition: background-color 0.5s ease;
}

.enable, .dots:hover {
background-color: #717161;
}

/* Faint animation */
.fade {
-webkit-animation-name: fade;
-webkit-animation-duration: 1.4s;
animation-name: fade;
animation-duration: 1.4s;
}

@-webkit-keyframes fade {
from {opacity: .5}
to {opacity: 2}
}

@keyframes fade {
from {opacity: .5}
to {opacity: 2}
}

textarea {
width: 500px;
height: 75px;
background-color: #fff;
resize: none;
}

button {
width: 500px;
height: 25px;
background-color: #282828;
border: none;
color: #fff;
font-family: "Open Sans";
font-weight: 400;
cursor: pointer;
margin: 0 auto;
}

form {
margin: 0 auto;
width: 500px;
}

.comment-box {
margin: 0 auto;
width: 500px;
padding: 10px;
margin-top: 2px;
margin-bottom: 2px;
background-color: black;
border-radius: 4px;
position: relative;
}

.comment-box p {
font-family: 'Open Sans';
font-size: 14px;
line-height: 16px;
font-weight: 100;
color: white;
}

.edit-form {
position: absolute;
top: 0px;
right: 0px;
}

.edit-form button {
position: absolute;
top: 0px;
right: 0px;
width: 40px;
height: 20px;
background-color: black;
opacity: 0.7;
color: white;
}

.edit-form button:hover {
opacity: 1;
}


.delete-form {
<<<<<<< HEAD
    position: absolute;
    top: 0px;
    right: 20px;
}

.delete-form button {
    position: absolute;
    top: 0px;
    right: 20px;
    width: 40px;
    height: 20px;
    background-color: black;
    opacity: 0.7;
    color: white;
}

.delete-form button:hover {
    opacity: 1;
}

.delete-account {
    margin-top: 50vh;
    margin-right: 0 auto;
    margin-left: 0 auto;
}

.delete-account button {
    background-color: black;
    opacity: 0.7;
    color: white;
}

.delete-account button:hover {
    opacity: 1;
=======
position: absolute;
top: 0px;
right: 20px;
}

.delete-form button {
position: absolute;
top: 0px;
right: 20px;
width: 40px;
height: 20px;
background-color: black;
opacity: 0.7;
color: white;
}

.delete-form button:hover {
opacity: 1;
>>>>>>> userReviewsBackend
}