body {
	margin: 0;
	padding: 0;
	background-color: #F7F8FA;
	font-family: Arial, sans-serif;
}

nav {
	background-color: #292C35;
	color: white;
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 20px;
}

.navbar-left a {
	color: white;
	text-decoration: none;
	font-size: 18px;
}

.navbar-center h1 {
	font-size: 34px;
	margin: 0;
}

.navbar-right a{
	color: white;
	text-decoration: none;
	font-size: 18px;
	padding: 1vw;
}

.container {
	display: flex;
	margin: 50px auto;
	max-width: 1200px;

}

.grey-box {
    background-color: white;
    padding: 40px 20px;
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: left;
    align-items: left;
    margin-right: 20px;
    border-radius: 4px;
    box-shadow: 0 0 10px rgba(0,0,0,0.2);
	
}

.dropdown {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
    width: 100%;
}


.dropbtn {
	background-color: #292C35;
	color: white;
	padding: 16px 20px;
	font-size: 16px;
	border: none;
	cursor: pointer;
	border-radius: 4px;
	text-align: left;
	width: 50%;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: white;
    border: 1px solid #E8E8E8;
	align-items: left;
    min-width: 160px;
    z-index: 1;
    top: 100%;
}

.dropdown-content a {
	color: black;
	padding: 16px 20px;
	text-decoration: none;
	display: block;
}

.dropdown-content a:hover {
	background-color: #F7F8FA;
}

.dropdown:hover .dropdown-content {
	display: block;
}

.text-box {
	margin-top: 20px;
	width: 100%;
}

.text-box input[type="text"] {
	padding: 10
}

.text p {
    font-size: 28px;
    font-weight: bold;
    margin: 10px 0 0 0;
    font-style: italic;
}

.text {
    text-align: left;
}

/* Tablet and larger devices */
@media (min-width: 768px) {
    .container {
        flex-direction: row;
    }

    .grey-box {
        margin-right: 20px;
        margin-bottom: 0;
    }

    .image-box {
        margin-left: 0;
    }
}

